<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, width=device-width"> -->
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="screen-orientation" content="portrait">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <title>保护树木，低碳阅读</title>
    <link rel="stylesheet" type="text/css" href="treecoupon/css/tree.css">
    <script src="treecoupon/js/zepto.min.js"></script>

</head>
    #set($isUse=0)
    #set ($coupons = $!data.coupons)
    #foreach ($coupon in $!coupons)
        #if ($!coupon.code == "001")
            #if ($!coupon.count > 0)
                #set($isUse=1)
            #end
        #end
    #end
<body>
<div id="first"><img src="treecoupon/img/remind.png" onclick="go()" style="width: 100%;height: 100%"></div>
<div id="container">
	<div id="guidePanel"></div>
	<div id="gamepanel">
		<div class="score-wrap">
            <div class="heart"></div>
            <span id="score">0</span>
        </div>
		<canvas id="stage" width="320" height="568"></canvas>
	</div>
	<div id="gameoverPanel"></div>
	<div id="resultPanel">
        <div class="weixin-share"></div>
        <a href="javascript:void(0)" class="replay"></a>
        <div id="message" class="message"></div>
        <div id="fenghao">
            <img id="coupon1" class="coupon" src="treecoupon/img/yinhen.png">
            <img id="coupon2" class="coupon" src="treecoupon/img/geili.png">
        </div>
        <div id="scorecontent">
        	您在<span id="stime" class="lighttext">2378</span>秒内拯救了<span id="sscore" class="lighttext">21341</span>个小树<br>超过了<span id="suser" class="lighttext">31%</span>的用户！
        </div>
        <div class="textc">
        	<span class="btn1 read">开启低碳阅读</span>
        </div>
	</div>
</div>
<script type="text/javascript">
    function go() {
        document.getElementById('first').style.display='none';
        document.getElementById('container').style.display='block';
    }
</script>
<script src="treecoupon/js/tree.js"></script>

</body>
</html>